@charset "utf-8";
/* CSS Document */

.center{
	width:970px;
	}
	
	
	 /*个人中心*/
	.body1{
		height:241px;
		margin-top:28px;
		}
		.nav2{
			width:630px;
			height:30px;
			}
			.script1{
				float:left;
				margin-left:20px;
				font-size:12px;
				margin-top:4px;
				line-height:30px;
				}
			.script11{
				height:30px;
				width:85px;
				text-align:center;
				display:inline-block;
				}
				.script11:hover{
					background-color:#05A6E0;
					color:#ffffff;
					}
		.nav21{
			width:100%;
			height:190px;
			margin-top:20px;
			}
				.nav211{
					width:200px;
					height:190px;
					float:left;
					margin-right:20px;
					}
					.nav2111{
						width:200px;
						height:110px;
						position:relative;
						}
						.span5{
							height:40px;
							width:200px;
							position:absolute;
							bottom:0;
							left:0;
							background-color:#322D2C;
							z-index:2;
							opacity:0.2;
							}
						.p5{
							font-size:12px;
							position:absolute;
							color:#ffffff;
							right:5px;
							bottom:5px;
							z-index:3;
							}
					.nav2112{
						width:200px;
						height:70px;
						background-color:#F5F5F5;
						}
						.p51{
							font-size:12px;
							margin-right:10px;
							margin-left:4px;
							padding-top:10px;
							}
						.p52{
							font-size:10px;
							margin-left:4px;
							padding-top:10px;
							}
				.nav212{
					height:180px;
					float:right;
					width:90px;
					background-color:#F5F5F5;
					}
					.p53{
						margin-left:30px;
						margin-right:25px;
						font-size:14px;
						margin-top:60px;
						}
						
						
						
	 /*最佳原创*/				
	.body2{
		width:100%;
		height:370px;
		}
		.nav3{
			width:100%;
			height:30px;
			margin-top:5px;
			margin-bottom:5px;
			}
			h3:hover{
				background-color:#05A6E0;
				color:#ffffff;
				}
			.nav31{
				width:640px;
				margin-right:20px;
				float:left;
				}
			.nav32{
				width:242px;
				float:left;
				}
				.nav213{
						width:200px;
						float:left;
						height:190px;
						}
					.taotu{
						width:100%;
						height:110px;
						position:relative;
						}
					.nav321{
						height:50px;
						margin-bottom:12px;
						}
						.img3{
							position:absolute;
							left:0;
							top:0;
							}
						.img31{
							position:absolute;
							left:4px;
							bottom:-15px;
							border:2px solid #ffffff;
							}
						.p6{
							font-size:14px;
							margin-left:4px;
							padding-top:20px;
							}
						.p61{
							font-size:10px;
							position:absolute;
							left:45px;
							bottom:-15px;
							}
						.p62{
							font-size:10px;
							margin-top:5px;
							margin-left:4px;
							background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/d4.png) no-repeat left center;
							padding-left:15px;
							}
						.p63{
							font-size:12px;
							float:left;
							margin-left:5px;
							}
						.p64{
							font-size:10px;
							float:left;
							margin-left:5px;
							margin-top:5px;
							}
							
							
							
	 /*电视剧*/						
	.body3{
		height:420px;
		}
		.p7{
			font-size:14px;
			position:absolute;
			left:4px;
			bottom:25px;
			z-index:3;
			}
		.p71{
			font-size:12px;
			color:#ffffff;
			position:absolute;
			left:4px;
			bottom:4px;
			z-index:3;
			float:left;
			}
		.nav4{
			margin-bottom:10px;
			}
			.nav41{
				width:310px;
				height:370px;
				float:left;
				}
		.p72{
			float:left;
			font-size:12px;
			line-height:30px;
			margin-top:-35px;
			}
			.script22{
				height:30px;
				width:30px;
				text-align:center;
				display:inline-block;
				}
				.script22:hover{
					background-color:#05A6E0;
					color:#ffffff;
					}
		.ul1{
			width:85px;
			height:139px;
			float:left;
			margin-right:40px;
			}
			.span6{
				width:20px;
				height:20px;
				line-height:20px;
				text-align:center;
				background-color:#EE3E21;
				color:#ffffff;
				margin-right:10px;
				display:inline-block;
				}
			.span7{
				width:20px;
				height:20px;
				line-height:20px;
				text-align:center;
				background-color:#02A6E0;
				color:#ffffff;
				margin-right:10px;
				display:inline-block;
				}
			.p73{
				height:42px;
				line-height:42px;
				font-size:10px;
				}
			.nav42{
				height:109px;
				margin-top:20px;
				}
				.nav421{
					width:225px;
					height:50px;
					margin-bottom:5px;
					float:left;
					}
					.taotu2{
						height:110px; 
						width:60px; 
						float:right;
						position:relative;
						}
					.img4{
						position:absolute;
						left:50%;
						bottom:50%;
						display:inline-block;
						margin-left:-38px;
						}
						
						
										
	 /*电影*/					
	.body4{
		height:291px;
		}
		.nav5{
			margin-top:20px;
			margin-bottom:10px;
			}
		.nav6{
			width:640px;
			height:245px;
			margin-right:20px;
			float:left;
			}
			.nav61{
				width:310px;
				height:245px;;
				float:left;
				}
			
			
		
	 /*院线*/		
	.body5{
		height:160px;
		}
		.nav7{
			height:113px;
			float:left;
			margin-right:20px;
			}
			.p74{
				font-size:12px;
				color:#FF2020;
				position:absolute;
				right:4px;
				bottom:4px;
				z-index:3;
				float:right;
				}
			.nav71{
				width:310px;
				height:113px;;
				float:left;
				}
			.nav72{
				width:145px;
				height:102px;
				margin-right:20px;
				float:left;
				}
			.nav73{
				width:145px;
				height:102px;
				float:left;
				}
			.p8{
				font-size:12px;
				text-align:center;
				margin-top:10px;
				}
				
				
		
	 /*综艺*/			
	.span8{
		font-size:12px;
		float:right;
		}
		.ul2{
			width:304px;
			height:202px;
			float:left;
			}
			.p9{
				height:50px;
				line-height:50px;
				font-size:10px;
				}
			.nav8{
				height:260px;;
				}
			.nav81{
						height:50px;
						margin-bottom:10px;
						}
						
						
						
	 /*娱乐*/
	.body6{
		height:415px;
		}
		
		
		
	 /*音乐*/	
	.body7{
		height:350px;
		}
		.ul3{
			width:304px;
			height:137px;
			float:left;
			}
			.nav9{
				width:200px;
				float:left;
				}
				.nav91{
					height:190px;
					}
			.p10{
							font-size:10px;
							margin-top:10px;
							margin-left:4px;
							padding-left:15px;
							background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/d4.png) no-repeat left center;
							float:left;
				}
			.p101{
							font-size:10px;
							margin-top:10px;
							margin-left:10px;
							padding-left:15px;
							background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/i2.png) no-repeat left center;
							float:left;
				}
			.nav92{
				width:640px;
				height:320px;
				margin-right:20px;
				float:left;
				}
			.nav93{
				width:310px;
				height:320px;
				float:left;
				}
				
	
			
	 /*体育*/
	.body8{
		height:230px;
		}			
	.script3{
				float:left;
				margin-left:20px;
				font-size:12px;
				margin-top:4px;
				line-height:30px;
				width:600px;
				height:30px;
				}
	.kuai1{
			width:640px;
			height:190px;
			margin-right:20px;
			float:left;
				}	
				
				
				
	 /*生活*/			
	.body9{
		height:290px;
		margin-top:10px;
		}
		.kuai2{
			height:241px;
			width:640px;
			float:left;
			margin-right:20px;
			}
		.kn1{
			height:110px;
			width:200px;
			float:left;
			margin-right:20px;
			margin-bottom:20px;
					}
			.word1{
				font-size:12px;
				position:absolute;
				left:4px;
				bottom:15px;
				z-index:3;
				color:#ffffff;
				}
					
			.word11{
					font-size:10px;
					color:#ffffff;
					position:absolute;
					left:4px;
					bottom:0px;
					z-index:3;
					float:left;
					background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/b7.png) no-repeat left center;
					padding-left:15px;
					}
				.word12{
					font-size:10px;
					color:#BABABA;
					position:absolute;
					left:4px;
					bottom:0px;
					z-index:3;
					float:left;
					margin-left:50px;
					background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/b8.png) no-repeat left center;
					padding-left:15px;
					}
			.word{
				font-size:26px;
				width:210px;
				height:40px;
				float:left;
				}	
				.word13{
					font-size:26px;
					width:70px;
					height:28px;
					float:left;
					margin-top:-38px;
					}
		.word14{
			float:left;
			font-size:12px;
			line-height:30px;
			margin-top:-33px;
			margin-left:60px;
			}
		.kn2{
			width:304px;
			height:250px;
			float:left;
			}	
			
			
			
	 /*汽车*/			
	.kn3{
		widtH:311px;
		height:110px;
		}
		.img5{
			position:relative;
			}
		.img51{
			position:absolute;
			right:0;
			bottom:0;
			z-index:3;
			}		
			
		
			
	 /*用户推荐*/		
	.body81{
		height:270px;
		}		
	.kuai3{
		 height:50px; 
		 margin-top:10px; 
		 width:640px;
		 float:left;
		}
	.word2{
			float:left;
			font-size:12px;
			line-height:30px;
			margin-top:-33px;
			}
		.kuai31{
			height:200px;
			width:310px;
			}
			.kuai32{
				width:90px;
				height:90px;
				margin-right:12px;
				margin-bottom:18px;
				position:relative;
				float:left;
				}
			.kuai33{
				width:90px;
				height:90px;
				position:relative;
				margin-bottom:18px;
				float:left;
				}
			.kuai32 p{
				font-size:12px;
				position:absolute;
				left:20px;
				bottom:2px;
				z-index:3;
				color:#ffffff;
				} 
			.kuai32 span{
				height:20px;
				width:90px;
				position:absolute;
				background-color:#000000;
				opacity:0.2;
				z-index:2;
				left:0;
				bottom:0;
				}
			.kuai33 p{
				font-size:12px;
				position:absolute;
				left:20px;
				bottom:2px;
				z-index:3;
				color:#ffffff;
				} 
			.kuai33 span{
				height:20px;
				width:90px;
				position:absolute;
				background-color:#000000;
				opacity:0.2;
				z-index:2;
				left:0;
				bottom:0;
				}
			.kuai34{
					width:200px;
					height:90px;
					background-color:#F5F5F5;
					}
					
								
	 /*视频话题*/				
	.span9{
		padding-left:10px;
		background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/m4.png) no-repeat left center;
		}
		.ul4{
			width:304px;
			height:90px;
			float:left;
			margin-top:20px;
			}
		
		
	 /*图片*/	
	.body82{
		width:988px;
		height:122px;
		border-bottom:1px solid  #DCDCDC;
		margin-top:10px;
		padding-top:30px;
		}