@charset "utf-8";
/* CSS Document */

.top{
	height:498px;
	width:100%;
	}
		/*头部顶栏*/
		
	    .headtop{
		height:60px;
		width:100%;
		background-color: #F5F5F5;
		margin-top:-30px;
		}
		.logo{
			width:160px;
			height:50px;
			background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/a.png) no-repeat left 20px;
			float:left;
			}
		.img1{
			margin-left:160px;
			margin-top:10px;
			}
		.p1{
			float:right;
			font-size:12px;
			margin-right:40px;
			background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/a2.png) no-repeat left center;
			line-height:60px;
			}
		.a1{
			color:#000000;
			margin-left:20px;
			}
			.a11{
				color:#000000;
				}
		.span1{
			margin-left:4px;
			margin-right:4px;
			}
		.p11{
			line-height:60px;
			font-size:12px;
			margin-right:20px;
			background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/a3.png) no-repeat left center;
			float:right;
			}
		.p12{
			line-height:60px;
			float:right;
			font-size:12px;
			margin-right:20px;
			background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/a4.png) no-repeat left center;
			}
			
			/*底部*/
			
			
	.headbottom{
		height:438px;
		}
			/*头部导航*/
		.nav1{
			height:45px;
			border-bottom:3px solid #E5E5E5;	
			}
			.p2{
				font-size:14px;
				float:left;
				margin-top:20px;	
				}
			.a2{
				color:#000000;
				margin-right:10px;
				}
				.a2:hover{
					border-bottom:3px solid #05A6E0;
					padding-bottom:7px;
					color:#05A6E0;
					}
			.p21{
				font-size:12px;
				float:left;
				margin-top:22px;
				}
			.a21{
				color:#000000;
				width:85px;
				display:inline-block;
				background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/b10.png) no-repeat 65px center;
				}
			.a211{
				color:#000000;
				width:85px;
				display:inline-block;
				}
			.p22{
				float:right;
				margin-top:22px;
				font-size:12px;
				}
				
				
				/*头部尾部*/
				
		.nav11{
			width:100%;
			height:370px;
			margin-top:13px;
			}
			.nav110{
				width:640px;
				height:370px;
				margin-right:20px;
				float:left;
				}
			.nav111{
				width:420px;
				height:241px;
				float:left;
				position:relative;
				}
				.img2{
					position:absolute;
					left:4px;
					bottom:8px;
					z-index:3;
					}
				.span2{
					height:70px;
					width:420px;
					position:absolute;
					bottom:0;
					left:0;
					background-color:#322D2C;
					z-index:2;
					opacity:0.1;
					}
				.p3{
					font-size:14px;
					position:absolute;
					left:70px;
					bottom:25px;
					z-index:3;
					}
				.p31{
					font-size:12px;
					color:#ffffff;
					position:absolute;
					left:70px;
					bottom:4px;
					z-index:3;
					float:left;
					background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/b6.png) no-repeat left center;
					padding-left:24px;
					}
				.p32{
					font-size:12px;
					color:#BABABA;
					position:absolute;
					left:70px;
					bottom:4px;
					z-index:3;
					float:left;
					margin-left:80px;
					background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/a3.png) no-repeat left center;
					padding-left:24px;
					}
				.p33{
					font-size:12px;
					color:#BABABA;
					position:absolute;
					left:70px;
					bottom:4px;
					z-index:3;
					float:left;
					margin-left:145px;
					background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/a4.png) no-repeat left center;
					padding-left:24px;
					}
			.nav112{
				width:200px;
				height:110px;
				float:left;
				margin-left:20px;
				margin-bottom:20px;
				position:relative;
				}
			.nav113{
				width:200px;
				height:110px;
				float:left;
				position:relative;
				}
			.nav114{
				width:200px;
				height:110px;
				float:left;
				margin-left:20px;
				position:relative;
				}
				.span3{
					height:40px;
					width:200px;
					position:absolute;
					bottom:0;
					left:0;
					background-color:#322D2C;
					z-index:2;
					opacity:0.1;
					}
				.span4{
					height:110px;
					width:200px;
					position:absolute;
					bottom:0;
					left:0;
					background-color:#322D2C;
					z-index:2;
					opacity:0.1;
					}	
				.p4{
					font-size:12px;
					position:absolute;
					left:4px;
					bottom:4px;
					z-index:3;
					}
					.p41{
						font-size:12px;
						position:absolute;
						left:4px;
						top:8px;
						z-index:3;
						}
					.p42{
						font-size:12px;
						position:absolute;
						left:4px;
						top:28px;
						z-index:2;
						float:left;
						}
					.p43{
						font-size:12px;
						position:absolute;
						right:4px;
						top:28px;
						z-index:2;
						float:right;
						background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/b7.png) no-repeat left center;
						padding-left:15px;
						color:#ffffff;
						}
					.p44{
						font-size:12px;
						position:absolute;
						left:4px;
						top:48px;
						z-index:3;
						float:left;
						background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/%E6%B8%85%E6%98%8E/img/b6.png) no-repeat left center;
						padding-left:15px;
						color:#ffffff;
						}
					.p45{
						width:56px;
						height:24px;
						border-radius:4px;
						background-color:#2D8DDA;
						font-size:12px;
						position:absolute;
						left:4px;
						top:78px;
						z-index:3;
						line-height:24px;
						text-align:center;
						}
				.nav115{
					width:310px;
					height:240px;
					float:right;
					margin-top:15px;
					}
					.p46{
						font-size:12px;
						width:306px;
						height:18px;
						background-color:#878787;
						line-height:18px;
						color:#ffffff;
						padding-left:4px;
						}
					.a3{
						color:#ffffff;
						float:right;
						margin-right:4px;
						}	